.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer-text {
    width: 80%;
    border-bottom: 1px solid grey;
    padding: 30px 30px 30px 0;
    font-weight: 900;
    color: #acacac;
    font-size: 20px;
  }
}

.footer-anchor {
  color: #acacac;
  padding-right: 40px;
  font-size: 16px;
  font-weight: bolder;
}

.footer-anchor:hover {
  color: #ffa500;
  text-decoration: none;
}

.footer-menu {
  display: flex;
  width: 80%;
  padding: 50px 0;
  justify-content: space-between;
  flex-direction: row;
}

.footer-anchors {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.footer-logo {
  width: 200px;
}

@media (max-width: 767px) {
  .footer-section {
    .footer-text {
      border-bottom: none;
      padding: 20px;
      font-weight: 900;
      font-size: 16px;
    }

    .footer-menu {
      padding: 0px;
      justify-content: flex-start;
      flex-direction: column;
    }

    .footer-anchors {
      flex-direction: column;
    }

    .footer-anchor {
      padding-right: 10px;
      font-size: 16px;
    }

    .footer-logo {
      margin: 30px auto;
      align-self: center;
      width: 130px;
    }
  }
}
