.step-carousel {
  margin-top: 10px;
  margin-bottom: 30px;
}

.slide-container {
  text-align: center;
}

.slide-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffa500;
}

.slick-dots li button:before {
  font-size: 14px;
  top: -2px;
  left: -2px;
  color: transparent;
}

.slick-dots li button {
  border: 2px solid #37A3AC;
  border-radius: 20px;
  height: 5px;
  width: 5px;
}

.slick-dots li {
  width: 13px;
  height: 13px;
}

.slick-dots li.slick-active button:before {
  color: #37A3AC;
}
