@import '../../styles/App.scss';

.chatbot-overflow{
  background: $grey2;
  position: relative;
  border-bottom: 2px solid #eee;

  @media only screen and (min-width: 587px) {
    padding-bottom: 10px;
  }

  @media only screen and (max-width: 587px) {
    padding-bottom: 5px;
  }
}

.chatbot-wrapper{
  background: #fafafa;
  position: relative;
  overflow: hidden;
  width: 100vw;
  margin: 0 auto;
  max-width: 768px;



  ul li:last-child{
  }
}

.chatbot-wrapper img{
  margin: 10px 5px;
}

.chatbot-wrapper ul{
    list-style: none;
    padding: 0;
    margin: 0 0 148px 0;

  @media only screen and (min-width: 587px) {
    min-height: calc(100vh - 425px);
    margin: 0 0 189px 0;
  }

  @media only screen and (max-width: 587px) {
    min-height: calc(100vh - 527px);
    margin: 0 0 90px 0;
  }

  @media only screen and (max-width: 320px) {
    min-height: calc(100vh - 595px);
    margin: 0 0 115px 0;
  }

  li {
    margin: 0;
    overflow: hidden;

    @media only screen and (max-width: 587px) {
      padding: 0 1em;
    }
  }

  li.message{
    text-align: left;
  }

  li.answer{
    text-align: right;
  }

}


.chatbot-wrapper li.response{
  text-align: right;
}


.chatbot-questions{
  margin-top: 20px;
  width: 100%;
  position: absolute;

  text-align: center;
  padding: 6px;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0;


  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .transition{
    animation: 500ms ease-out 0s 1 slideInFromBottom;
  }

  .chatbot-buble{
    margin-left: 10px;
  }

  >span {
    display: inline-block;
  }

  &.-address{
    bottom:120px;
  }
}

.chatbot-chat-messages{
  height: calc(100vh - 260px);
}

.chatbot-chat-messages ul{
  list-style-type: none;
}







.question-component-fade-enter{
  > .chatbot-message{
      opacity: 0;
      transform: translateX(-200px);

  }
}

.question-component-fade-enter-active {
   > .chatbot-message{
      opacity: 1;
      transform: translateX(0em);
      transition: opacity 2s ease-in-out, transform 1s ease-in;
      transition-timing-function: ease-in-out;
  }
}

.question-component-fade-leave {
    transform: translateY(0em);
    opacity: 1;
}

.question-component-fade-leave.question-component-fade-leave-active {
    transform: translateY(+2em);
    opacity: 0;
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.question-component-fade-appear {
    opacity: 0;
    transform: translateY(+2em);
}

.question-component-fade-appear.question-component-fade-appear-active {
    opacity: 1;
    transform: translateY(0em);
    transition: opacity 200ms ease-out, transform 200ms ease-in;
}



.answer-component-fade-enter{
  text-align: right;
}

.answer-component-fade-enter .chatbot-message{
    opacity: 1;
}
.answer-component-fade-enter-done{
  text-align: right;

  >.chatbot-message{

  }
}

