@import '../../styles/App.scss';

.chatbot-wrapper{
  margin: 0 auto;
  position: relative;

  @media only screen and (min-width: 320px) {
    width: 75%;
    min-height: calc(100vh - 180px);

  }

  @media only screen and (max-width: 320px) {
    width: 100%;
    min-height: calc(100vh - 380px);
  }

  ul li:last-child{
    margin-bottom: 100px;
  }
}

.chatbot-wrapper img{
  margin: 10px 5px;
}

.chatbot-wrapper ul{
  list-style-type: none;
  position: relative;
  min-height: calc(100vh - 200px);
  padding-bottom: 100px;
  background-color: $grey2;
}

.chatbot-wrapper li.message{
  text-align: left;
}

.chatbot-wrapper li.response{
  text-align: right;
}


.chatbot-questions{
  bottom: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  position: absolute;
  left: 0px;
}

.chatbot-chat-messages{
  height: calc(100vh - 260px);
}

.chatbot-chat-messages ul{
  list-style-type: none;
}


.chatbot-button{
  background-color: $dark-blue !important;
  color: #FFFFFF !important;
  margin-left: 10px !important;
  font-size: 19px !important;

  @media only screen and (max-width: 567px) {
    padding: 5px !important;
  }
}

.chatbot-wrapper > .chatbot-button ~ .chatbot-button {
    margin-left: 0px !important;
    font-size: 19px !important;
}


.chatbot-buble{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.45em;
  border-radius: 3px;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  background: #fff;
  font-size: 19px;
  border: none;
  max-width: 90%;
  min-width: 44px;
  min-height: 12px;

  /*animation: font-fade .6s ease-in-out;*/
}




.question-component-fade-enter .chatbot-message{
    opacity: 0;
    transform: translateX(-200px);

}

.question-component-fade-enter-active .chatbot-message{
    opacity: 1;
    transform: translateX(0em);
    transition: opacity 2s ease-in-out, transform 1s ease-in;
    transition-timing-function: ease-in-out;
}

.question-component-fade-leave {
    transform: translateY(0em);
    opacity: 1;
}

.question-component-fade-leave.question-component-fade-leave-active {
    transform: translateY(+2em);
    opacity: 0;
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.question-component-fade-appear {
    opacity: 0;
    transform: translateY(+2em);
}

.question-component-fade-appear.question-component-fade-appear-active {
    opacity: 1;
    transform: translateY(0em);
    transition: opacity 200ms ease-out, transform 200ms ease-in;
}



.answer-component-fade-enter{
  text-align: right;
}

.answer-component-fade-enter .chatbot-message{
    opacity: 0;
    transform: translateX(-200px);
}

.answer-component-fade-enter-active .chatbot-message{
    opacity: 1;
    transform: translateX(0em);
    transition: opacity 2s ease-in-out, transform 1s ease-in;
    transition-timing-function: ease-in-out;
}

.answer-component-fade-leave {
    transform: translateY(0em);
    opacity: 1;
}

.answer-component-fade-leave.answer-component-fade-leave-active {
    transform: translateY(+2em);
    opacity: 0;
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

.answer-component-fade-appear {
    opacity: 0;
    transform: translateY(+2em);
}

.answer-component-fade-appear.answer-component-fade-appear-active {
    opacity: 1;
    transform: translateY(0em);
    transition: opacity 200ms ease-out, transform 200ms ease-in;
}

