@import '../../styles/App.scss';

.chatbot-message{
  padding: 2px;
  background-color: $black;
  transition: transform 0.5s cubic-bezier(0.68, 0.01, 0.245, 1.13) 0s;
  font-size: 19px;
  font-weight: 400;
  color: $grey1 !important;

  &.-answer{
    background-color: $dark-blue !important;
    color: $white !important;
    transition: opacity 500ms ease-in;
  }
}



.chatbot-buble{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.45em;
  border-radius: 3px;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  background: #fff;
  font-size: 19px;
  border: none;
  max-width: 90%;
  min-width: 44px;
  min-height: 12px;

  animation: font-fade .6s ease-in-out;
}