@import '../../styles/App.scss';

.chatbot-message{
  padding: 2px;
  background-color: $black;
  transition: transform 0.5s cubic-bezier(0.68, 0.01, 0.245, 1.13) 0s;
  font-size: 15px;
  font-weight: 400;
  color: $grey1 !important;
  transition: all 500ms linear;

  @keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes font-fade {
    from {
      color: transparent;
    }
    to {
      color: "inherit";
    }
  }

  &.-message{
    animation: 500ms ease-out 0s 1 slideInFromLeft;

    &.-transition{
      animation: font-fade .6s ease-in-out;
      -moz-animation: font-fade .6s ease-in-out; /* Firefox */
      -webkit-animation: font-fade .6s ease-in-out; /* Safari and Chrome */
      -o-animation: font-fade .6s ease-in-out; /* Opera */
    }
  }

  &.-question{
    animation: 500ms ease-out 0s 1 slideInFromLeft;

    &.-transition{
      animation: font-fade .6s ease-in-out;
      -moz-animation: font-fade .6s ease-in-out; /* Firefox */
      -webkit-animation: font-fade .6s ease-in-out; /* Safari and Chrome */
      -o-animation: font-fade .6s ease-in-out; /* Opera */
    }
  }

  &.-answer{
    background-color: $dark-blue !important;
    color: $white !important;

    &.-flying{
      animation: 1s ease-in-out 0.6s 1 fly;
    }
  }
}



.chatbot-buble{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.45em;
  border-radius: 3px;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  background: #fff;
  font-size: 15px;
  border: none;
  max-width: 90%;
  min-width: 44px;
  min-height: 12px;

  animation: font-fade .6s ease-in-out;
}