files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/21_build_production.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # Set-up node link for now
      #su -c "sudo ln -s /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/node /usr/bin/node"

      # NMP_APP = PATH=$PATH:$NODE_HOME/bin
      # NMP_APP=$(/opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm)
      # SERVE_APP=$(/opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/serve)

      EB_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)

      cd $EB_STAGING_DIR
      # su -c "sudo $NMP_APP install -g serve"
      su -c "npm install"
      su -c "npm run build"
      su -c "sudo chown nodejs:nodejs -R node_modules/"