files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_npm_custom.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe

      EB_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)

      cd $EB_STAGING_DIR

      npm rebuild node-sass
      rm -rf node_modules && npm rebuild node-sass && npm i