files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/49_npm_custom.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      set -xe

      #NPM_APP=$(/opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm)

      EB_STAGING_DIR=$(/opt/elasticbeanstalk/bin/get-config  container -k app_staging_dir)

      cd $EB_STAGING_DIR

      # npm rebuild node-sass
      # su -c "/opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm rebuild node-sass"
      # su -c "rm -rf node_modules && /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm rebuild node-sass && /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm i"

      rm -rf node_modules && /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm rebuild node-sass && /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm i

      if [ $? -eq 0 ]; then
          echo OK
      else
        echo FAILED
        su -c "sudo chmod 777 -R node_modules/"
        echo UPDATING SASS
        /opt/elasticbeanstalk/node-install/node-v8.11.3-linux-x64/bin/npm rebuild node-sass
      fi
