.testinomials-wrapper {
  padding: 10px 0 40px;
}

.testinomials-wrapper, .testinomials-row {
  background: #f3f5f9;
}

.testinomials {
  margin: 20px 0 20px;
}

.testinomials-header {
  margin: 20px auto;
  max-width: 900px;
}

.top-agent {
  margin: -85px auto 0;
}

.top-agent-img {
  width: 140px;
  height: 140px;
}

@media only screen and (max-width: 767px) {
  .testinomials {
    overflow-x: scroll;
  }
  .testinomials {
    margin: 20px;
  }
  .testinomials-sub-heading {
    font-size: 14px;
  }
  .testinomials-heading {
    font-size: 24px;
  }
  .testinomials-header {
    padding-top: 20px;
  }
  .top-agent {
    margin: -65px auto 0;
  }
  .top-agent-img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991.98px) {
  .testinomials {
    overflow-x: scroll;
  }
}
