.testinomials-wrapper {
  padding: 10px 0 40px;
}

.testinomials-wrapper, .testinomials-row {
  background: #f3f5f9;
}

.testinomials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 20px;
  width: 100%;
}

.testinomials-header {
  text-align: center;
  margin: 20px auto;
  max-width: 900px;
  padding-top: 50px;

  .testinomials-sub-heading {
    text-align: center;
  }

  .testinomials-heading {
    font-weight: bold;
  }
}

@media only screen and (max-width: 767px) {
  .testinomials {
    overflow-x: scroll;
    width: 100%;
  }
  .testinomials {
    margin: 20px;
  }
  .testinomials-sub-heading {
    font-size: 14px;
  }
  .testinomials-heading {
    font-weight: bold;
    font-size: 24px;
  }
  .testinomials-header {
    padding-top: 20px;
  }
}
