.absolute-fill {
  top: 0;
  right: 0;
  left: 0;
}

.sellers-container {
  background: transparent;
  padding: 100px;
  max-width: 740px !important;
  p {
    font-family: 'Source Sans Pro',sans-serif !important;
    font-size: 21px;
    font-weight: 300;
    line-height: 150%;
    text-align: justify;
  }

  .digit-heading {
    font-family: serif !important;
  }

  .digit {
    font-size: 130px;
    line-height: 130px;
    margin-bottom: -85px;
    font-weight: bold;
    font-family: serif !important;
    color: rgba(0, 0, 0, 0.1);
  }
}

.sellers-heading {
  margin-bottom: 80px;
}
