/* Base Colors */
$white: #ffffff;
$black: #000000;

$dark-blue: #3C4859; /* chat response */
$grey1: #222222; /* chat response */
$grey2: #FAFAFA; /* chat response */
$grey3: #888888; /* testimonials */
$grey4: #EDEDED;
$green1: #01c867; /* online now */
$green2: #60b003; /* green button */