/* Base Colors */
$white: #ffffff;
$black: #000000;

$dark-blue: #3C4859; /* chat response */
$grey1: #222222; /* chat response */
$grey2: #FAFAFA; /* chat response */
$green1: #01c867; /* online now */