@font-face {
  font-family: "chaparral-pro";
  font-style: normal;
  font-weight: 400;
  src: url("https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/d?subset_id=2&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/9da37c/00000000000000003b9aee4e/27/a?subset_id=2&fvd=n4&v=3") format("opentype");
}