.cta-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f5f9;
  padding: 60px;
}

.cta-header {
  font-size: 28px;
  font-weight: bold;
}

.cta-sub-header {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .cta-header {
    font-size: 16px;
  }

  .cta-sub-header {
    font-size: 14px;
  }
}
