.chatbot-input{
  width: initial !important;
  background-color: #3C4859 !important;
  color: #FFFFFF !important;

  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.45em;
  border-radius: 3px;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  background: #fff;
  font-size: 19px;
  border: none;
  max-width: 90%;
  min-width: 44px;
  min-height: 12px;

  animation: font-fade .6s ease-in-out;

  opacity: 1;
  transform: translateY(0px);
  transition: opacity 2s ease-in-out, transform 1s ease-in;
}