@import '../../styles/App.scss';

.chatbot-buble{
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  display: inline-block;
  line-height: 1.45em;
  border-radius: 3px;
  margin: 0 0 1em 0;
  text-align: left;
  position: relative;
  padding: 6px 12px;
  background: #fff;
  font-size: 15px;
  border: none;
  max-width: 90%;
  min-width: 44px;
  min-height: 12px;

  font-weight: 400;
  color: $grey1 !important;

  &.-answer{
    background-color: $dark-blue;
    color: $white !important;
    margin: 12px 6px;
    cursor: pointer;
    float: none;
  }
}