.chat-bot-header {
  max-height: 65px;
  min-height: 65px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
  font-size: 24px;
}
