@import '../../styles/App.scss';

* {
  font-family: "Montserrat",georgia,serif !important;
  text-rendering: geometricPrecision !important;
}

.full-height{
  height:100vh;
}

.global-font{
  font-family: Brandon,Helvetica Neue,Helvetica,sans-serif;
}


.main-container{
  background-color: $white;
  white-space: pre-line;

  .agent-description{
    ul {
      li{
        margin: -10px 0;
      }

      ul{
        margin: -20px 0;

        li{
            margin: -13px 0;
        }
      }
    }
  }

  ul.privacy-policy {
    li{
        margin: 10px 0;
      &.-bold{
        font-weight: bold;
      }
    }
  }

  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }
}

.btn-black{
  background-color: #000000 !important;
  color: #FFFFFF !important;
}


.content {
    margin-top: 150px;
    background-color: #a9a8a8;
    min-height: 5500px;
}
.container {
    background-color: #f2f2f2;
}
.sidebar-outer {
    margin-top: 150px;
    position: relative;
}
.fixed {
    position: fixed;
}

.footer{
  a{
    font-size: 14px;
    cursor: pointer;

    &.black{
      color: $black;
    }
  }
}

.flex{
  display: flex;
}

.relative {
    position: relative;
}
.justify-center {
    -ms-flex-pack: center;
    justify-content: center;
}

.absolute {
  position: absolute;
}

.absolute--fill {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.w-100{
  width: 100%;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.overflow-y{
  overflow-y: auto;
}

.agent-image{
  min-height: 315px;
  min-width: 0px;
  flex: 1 1 auto;
  background-size: cover!important;

  .agent-name{
    font-size: 44px;
    color: $white;
    text-align:center;
    width: 100%;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.01) 1%, rgba(0, 0, 0, 0.65) 99%);
  }

  .agent-star-rating{
    text-align: center;
    margin: 32px auto !important;

    img {
      float: left;
    }

    &.-hidden{
      display: none !important;
    }

    div.description{
      margin-left: 10px;
      color: $white;
      font-weight: bold;
      float: left;
      padding-top: 5px;
    }

    &.-small{
      font-size: 16px;
      margin: 0px auto !important;
      display: inline-block !important;
      line-height: 16px;
      margin-bottom: 10px !important;

      &.-hidden{
        display: none !important;
      }

      img {
        float: left;
        height: 20px;
      }

      div.description{
        margin-left: 10px;
        color: $white;
        font-weight: bold;
        float: left;
        line-height: 16px;
      }

    }
  }
}

@media only screen and (max-width: 567px) {
  .flex-row-sm{
    flex-direction: row!important;
  }

  .flex-column-sm{
    flex-direction: column!important;
  }

  .w-sm-100{
    width: 100%;
  }

}

@media only screen and (min-width: 567px) {
  .flex-column-md{
    flex-direction: column!important;
  }

  .flex-row-md{
    flex-direction: row!important;
  }

  .overflow-y-auto-md{
      overflow-y:auto
  }

  .flex-md{
    display:-webkit-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex
  }

  .w-md-40{
    width: 40%;
  }

  .w-md-60{
    width: 60%;
  }

}

.overflow-y-auto{
    overflow-y:auto;
}

.flex-auto{
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.header-wrapper{
  background: $black;
  color: $white;
  text-align: center;
  justify-content: center;

  >.text{
    margin: 7px 5px;
    font-weight: bold;
  }

  > a {
    color: $white;
    border: 1px solid $white;
    padding: 3px 8px;
    font-weight: bold;
    margin: 3px;
    text-decoration: none;
  }
}

.agent-header-wrapper{

  width: 100vw;
  margin: 0 auto;
  max-width: 768px;

  margin-bottom: 20px;

  @media only screen and (min-width: 576px) {
    margin-top: 50px;
  }

  @media only screen and (max-width: 576px) {
    margin-top: 10px;
  }


  .name{
    font-size: 46px !important;
    font-weight: 600;

    @media only screen and (min-width: 576px) {
      padding: 0 0;
    }

    @media only screen and (max-width: 576px) {
      padding: 0 1em;
    }
  }

  .status {
    color: $green1;
    text-transform: uppercase;
    font-size: 16px !important;;
    font-weight: bold;

    @media only screen and (min-width: 576px) {
      padding: 0 0;
    }

    @media only screen and (max-width: 576px) {
      padding: 0 1em;
    }
  }

  .subtitle{
    color: grey;

    @media only screen and (min-width: 576px) {
      padding: 0 0;
    }

    @media only screen and (max-width: 576px) {
      padding: 0 1em;
    }

  }

}

.footer-text{
  font-size: 13px;
}