.location-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}

.location-container {
  width: 80%;
}

.location-header {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bolder;
}
